.sidebar-wrapper {
  top: 55px;
  left: 0;
  position: fixed;
  width: 200px;
  height: calc(100% - 55px);
  background: var(--e-white);
  overflow: auto;
  z-index: 100;
  padding: 15px;
}

.sidebar-toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
}
.sidebar-toggle-btn i {
  transition: all 0.1s ease-in-out;
}
.sidebar-toggle-btn i:hover {
  transform: scale(1.1);
  color: var(--e-primary);
}
.sidebar-toggle-btn i:active {
  transform: scale(2);
  transform: translateX(-5px);
}
