.layout-menu li {
  list-style-type: none;
}

.layout-menu .root-menuitem > a {
  display: none;
}

.menuitem-root-text {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
  color: var(--e-text-color);
  user-select: none;
}

.submenu li > a {
  position: relative;
  display: flex;
  padding: 10px 5px;
  text-decoration: none;
  color: var(--e-text-color);
  padding-left: 10px;
  cursor: pointer;
}
.submenu li {
  border-radius: 4px;
  transition: all 0.3s ease;
}
.menuitem-icon {
  font-size: 14px;
  margin-right: 10px;
}
.menuitem-text {
  font-size: 14px;
}
.layout-submenu-toggler {
  margin-left: auto;
}
.submenu li:hover {
  background-color: var(--e-surface-ground);
}
